.info-aside-right {
    display: grid;
    background-color: #e0e0e0;
    padding: 20px;
    border-top: 5px solid #2969bd;
    border-right: 5px solid #2969bd;
    border-bottom: 5px solid #2969bd;
    border-bottom-right-radius: 15px;
    margin-top: 20px;
    margin-right:10px;
    line-height: 1.6;
    width: 300px;
    border-top-right-radius: 15px;
}

.info-aside-right  h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #2969bd;
    margin-bottom: 10px;
}

.info-aside-right  h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
   
    margin-bottom: 10px;
}

.info-aside-right  p {
    
    
    font-family: 'Rawline', sans-serif;
    margin-bottom: 15px;
    color: #333;
    font-size: 18px;
}
